.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left img,
.fighter-preview___right img {
  max-height: 200px;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___left,
.fighter-preview___right {
  width: 40%;
}

.fighter-info__card {
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  width: 200px;
  text-align: center;
}

.fighter-data {
  display: flex;
  justify-content: space-evenly;
}

.fighter-data__icon {
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

.fighter-data__indicator {
  display: flex;
  align-items: center;
}

.fighter-info__title {
  color: #9e0000;
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 5px;
}